[submodule "modules/reveal.js"]
	path = modules/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "modules/impress.js"]
	path = modules/impress.js
	url = https://github.com/bartaz/impress.js.git
