<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Title Subtitle - PHP as a Social Activity - Presentation</title>
		<link rel="stylesheet" href="../css/reveal.min.css">
		<link rel="stylesheet" href="../css/theme/sky.css" id="theme">
		<link rel="stylesheet" href="../css/PHPaaSA.css">
	</head>
	<body>
		<div class="reveal">
			<div class="slides">
				<section>
					<section>
						<h1>Title</h1>
						<h2>Subtitle</h2>
						<img class="stretch no-border" src="assets/logo.png" alt="Logo">
					</section>
					<section>
						<img class="stretch no-border" src="../images/PHPaaSA-Slide.png" alt="PHP as a Social Activity">
						<p>Presented by: Sam Likins<br>PHP as a Social Activity</p>
					</section>
					<section>
					</section>
				</section>
			</div>
		</div>
		<script src="../js/head.min.js"></script>
		<script src="../js/reveal.min.js"></script>
		<script>
			Reveal.initialize({
				history: true,
				mouseWheel: true
			});
		</script>
	</body>
</html>